<div class="row">
	<div class="col-md-6">
		<div class="panel top-buffer">
			<h2>Student</h2>
			<div>
				<label>First Name</label> <input type="text" class="form-control"
					ng-model="entity.ime" />
			</div>

			<div>
				<label>Last Name</label> <input type="text" class="form-control"
					ng-model="entity.prezime" />
			</div>
			
			<div>
				<label>Indeks</label> <input type="text" class="form-control"
					ng-model="entity.indeks" />
			</div>
			
			<button ng-click="save()">
				<i class="glyphicon glyphicon-save"></i> Save
			</button>
		</div>
	</div>


	<div class="col-md-6">
		<h2>All Students</h2>
		<table class="top-buffer">
			<tr>
				<th>Name&nbsp;</th>
				<th>Indeks&nbsp;</th>
				<th>Action</th>
			</tr>
			<!-- one tr element for each grade -->
			<tr ng-repeat="e in entities">
				<td>{{ e.ime }} {{ e.prezime }}</td>
				<td>{{ e.indeks }}</td>
				<td>
					<button ng-click="edit(e.id)" class="btn btn-danger btn-xs">
						<i class="glyphicon glyphicon-plus"></i> Edit
					</button>
					<button ng-click="remove(e.id)" class="btn btn-danger btn-xs">
						<i class="glyphicon glyphicon-minus"></i> Remove
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>